
        <div class="home-header mt-n3">
          <h1>ToDo型、読書管理アプリ</h1>
          <h2 class="d-lg-block d-none display-3">読書で得た学びを日常に取り入れましょう</h2>


        </div>


          <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "　本のタイトルで検索", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
          <% end %>

<div id="fh5co-portfolio">
  <div class="col-md-9">
      <p><%= link_to "新規投稿", new_post_path, class: "btn btn-primary btn-lg btn-record" %>


</p>

    <div class="container">
    <h3 class="text-center pb-md-1 mb-md-5">フォロー中のユーザの投稿</h3>
      <div class="posts px-lg-5 ml-lg-5">
        <% if user_signed_in? %>
          <% if @following_user_posts.exists? %>
            <% @following_user_posts.each do |post| %>
              <div class="following-post d-lg-flex flex-lg-row mb-md-4">
                <div class="following-post-image mr-md-3">
                  <div class="thumb-post d-lg-flex flex-lg-row">
                    <%= render partial: 'posts/post', locals: { post: post}%>
                  </div>
                </div>
              </div>
              <%end%>
          <% else %><br>
            <p class="text-center">他のユーザをフォローするとその投稿が表示されます</p>
          <% end %>
        <% else %>
          <p class="text-center">ログインするとフォローしたユーザの投稿が表示されます</p>
        <% end %>
      </div>
    </div>
    <br>


    <div class="container">
    <h3 class="text-center pb-md-1 mb-md-5">新着投稿</h3>
      <ol class="posts px-lg-5 ml-lg-5">
        <%= render @posts%>
      </ol>
        <%= will_paginate @posts, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
    </div>
    
  </div>
</div>

