<% provide(:title, "プロフィール編集") %>
<h1>プロフィール編集</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %> 

    <div class = 'form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
    </div>
    <div class = 'form-group'>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', id: 'user_email' %>
    </div>

      <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">画像</label>
    </div>
    <%= f.file_field :image, class:"input-default", id:"name", placeholder:"例) book太郎", maxlength:"40" %>
  </div>

    <%= f.submit "更新する", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
