<%= form_with model: @post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %> 
  <div class = 'form-group'>
    <%= f.label :本のタイトル %>　※必須
    <%= f.text_field :title, class: 'form-control', id: 'book_title' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :'To Do' %>　※必須
    <%= f.text_field :plan, class: 'form-control', id: 'book_plan' %>
  </div>
    <div class = 'form-group'>
    <%= f.label :メモ %>　※任意
    <%= f.text_field :memo,  class: 'form-control', id: 'book_memo' %>
  </div>
    <div class = 'form-group'>
    <%= f.label :Amazonリンク %>　※任意
    <%= f.text_field :reference, class: 'form-control', id: 'book_reference' %>
  </div>
      <div class = 'form-group'>
      <%= f.label :画像 %>　※任意
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
  <%= f.submit "投稿する", class: 'btn btn-primary' %>
<% end %>