<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <h4><span class="title"><%= post.title %></span><h4>

  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %> 前に投稿
    <% if user_signed_in? && current_user.id == post.user_id %>
      <%= link_to "削除する", post_path(post.id) , method: :delete%>
    <% end %>
  </span>
</li>