<% provide(:title, "#{@post.title}") %>
<div class="container">
  <div class="row">
    <h1>投稿詳細</h1>
    <h3 class="post-title"><%= @post.title %></h3>
    <div class="change-dish">
      <% if current_user == @post.user %>
        <%= link_to "編集", edit_post_path(@post), class: 'edit-post' %>　
      <% end %>
    </div>
     <p>投稿者：<%= link_to @post.user.name, user_path(@post.user_id), class: "post-user link-to", data: {"turbolinks"=>false} %></p>
             <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize: '200x200') %>
        <% else %>
          <%= image_tag 'noimage.png',size: "150x200", class: "mr-md-4" %>
        <% end %>


    
    <h4>本の内容：<%= @post.memo %></h4>
    <h4>行動プラン：<%= @post.plan %></h4>

      <% if current_user==@post.user %>
      <% if @post.completed_by?(@post.user) %> 
        <%=link_to "完了", post_completion_path(@post.id), method: :delete ,class: "btn btn-primary complete"%>
      <% else %>
        <%=link_to "行動中", post_completions_path(@post.id), method: :post,class: "btn btn-primary complete" %>
      <% end %>
      <% end %>


        <% if @post.reference != nil%>
        <p><span class="reference"><%= link_to "Amazonで見る", @post.reference, target: :_blank %></span></p>
        <% end%>
<%# あとで編集 %><br>
  <p><div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを追加", rows: "2" %>
        <%= form.submit "コメント", class: "btn btn-primary" %>
      <% end %>
    <% end %></p>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
      <% if user_signed_in? && current_user.id == comment.user_id %>
        <%= link_to "削除", post_comment_path(comment.id), method: :delete,
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
        </p>
      <% end %>
      <% unless user_signed_in? %>
      <strong><p>※※※ コメントの投稿にはログインが必要です ※※※</p></strong>
      <% end %>
    </div>
  </div>
<%# あとで編集 %>
    
  </div>
</div>




