<% provide(:title, "#{@post.title}") %>
<div class="container">
  <div class="row">
    <h1>投稿詳細</h1>
    <h2 class="post-title"><%= @post.title %></h2>
    <div class="change-dish">
      <% if current_user == @post.user %>
        <%= link_to "編集", edit_post_path(@post), class: 'edit-post' %>　
      <% end %>
    </div>
     <h4><%= @post.user.name %></h4>
             <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize: '200x200') %>
        <% else %>
          <%= image_tag 'noimageman.png',size: "150x200", class: "mr-md-4" %>
        <% end %>


    
    <h4>本の内容：<%= @post.memo %></h4>
        <% if @post.reference != nil%>
        <p><span class="reference"><%= link_to "Amazonで見る", @post.reference, target: :_blank %></span></p>
        <% end%>
<%# あとで編集 %>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを追加", rows: "2" %>
        <%= form.submit "コメント", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿にはログインが必要です ※※※</p></strong>
    <% end %>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
      <% if user_signed_in? && current_user.id == comment.user_id %>
        <%= link_to "削除", post_comment_path(comment.id), method: :delete,
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
        </p>
      <% end %>
    </div>
  </div>
<%# あとで編集 %>
    
  </div>
</div>